---
import Layout from "../layouts/Layout.astro";
import controlData from "../data/controls.json";
import CategoryCard from "../components/CategoryCard.astro";
import Subscribe from '../components/Subscribe.astro';
---

<Layout title="Esco Supplies">
  <h2 class="text-center mb-8 text-[--red]">Lighting Controls</h2>
  <section class="px-2 mb-6">
    <div class="max-container p-8 rounded-2xl bg-[--light-gray] max-sm:p-4 max-md:p-6">
      <ul class="grid grid-cols-2 lg:grid-cols-3 gap-8 max-sm:gap-4">
        {
        controlData.map((card) => (
          <CategoryCard
            imagePath={card.imagePath}
            altText={card.altText}
            name={card.name}
          />
        ))
      }
    </ul>
  </div>
</section>
<Subscribe />
</Layout>

<style>
  * {
  /* border: 1px solid red; */
  }
</style>