---
import Layout from "../layouts/Layout.astro";
import outdoorData from "../data/outdoor.json";
import CategoryCard from "../components/CategoryCard.astro";
---

<Layout title="Esco Supplies">
  <h2 class="text-center mb-8">Outdoor Lighting</h2>
  <div class="max-container p-8 rounded-2xl">
    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-8">
      {
        outdoorData.map((card) => (
          <CategoryCard
            imagePath={card.imagePath}
            altText={card.altText}
            name={card.name}
          />
        ))
      }
    </ul>
  </div>
</Layout>
